art
keyboard
librosa
loguru
opencv_contrib_python
opencv_python
opencv_python_headless
Pillow
PyAutoGUI
pydirectinput_rgx
pygame
pyserial
PySide6
PyQt5
pywin32
rich
scikit_learn
scipy
SoundCard
soundfile
vgamepad
