art
keyboard
librosa
loguru
matplotlib
opencv_contrib_python
opencv_python
opencv_python_headless
Pillow
PyAutoGUI
pydirectinput_rgx
pygame
pyserial
PySide6
PySide6_Addons
PySide6_Essentials
pywin32
rich
scikit_learn
scipy
SoundCard
soundfile
vgamepad
